[Unit]
Description=PiMPD

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pimpd
# ExecStart=/home/pi/pimpd/pimpd.sh
ExecStart=/usr/bin/python3 /home/pi/pimpd/pimpd/pimpd.py
Restart=on-failure
PIDFile=/var/run/pimpd.pid

[Install]
WantedBy=network.target
